:root {
  --lime-green: #00ffb3;
  --lime-green-alpha: #00ffb388;
  --grey: #2b2b2b;
  --mid-grey: #3f3f3f;
  --light-grey: #777;
  --error: indianred;
  --info: lightskyblue;
  --success: darkseagreen;
  --orange: rgb(255, 203, 107);
  --coral: coral;
  --teal: #44bfbf;
  --default-font: 'Lexend', sans-serif !important;
}

body {
  font-family: 'Lexend', sans-serif !important;
  height: 100vh;
  background-color: #1f1f1f;
  color: #e3e3e3;

}

.container {
  text-align: center;
}

.error-text {
  color: var(--error) !important;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111DD;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  background-color: #fff;
  z-index:10;
  height: auto;
  width: 40rem;
  border: none;
  border-radius: 5px;
}

.btn-blue {
  background-color: var(--info);
}

.btn-orange {
  background-color: var(--orange);
}

.btn-lime {
  background-color: var(--lime-green);
}

.btn-teal {
  background-color: var(--teal)
}

.btn-coral {
  background-color: var(--coral);
}

.btn-red {
  background-color: var(--error);
}

.btn-green {
  background-color: var(--success);
}

.btn-back {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  padding: 15px 20px;
}

.nav-buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.nav-buttons > button {
  margin: 5px;
  height: 20vh;
  font-size: xx-large;
}