.report-entry {
    background-color: var(--mid-grey);
    padding: 10px 25px;
    border-radius: 15px;
    text-align: left;
    margin: 15px 0;
}

.report-entry > h2 {
    margin-bottom:0;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111DD;
    justify-content: center;
    align-items: center;
  }

.modal {
    padding: 10px 15px;
    color: var(--grey);
}

.table-entry {
    margin: 10px;
    background-color: var(--near-white-grey);
    padding: 10px;
    border-radius: 5px;
}

.table-entry > h3, .table-entry > p {
    margin: 0;
}