.product {
    background-color: var(--lime-green-alpha);
    padding: 20px;
    min-width: 20%;
    margin: 5px;
}

.product > p {
    margin: 0px;
}

.product-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.products-container {
    width: 100%;
    overflow: auto;
    max-height: 100vh;
}

.sale-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
}

.sidebar {
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: var(--mid-grey);
}

.ticket {
    padding: 15px;
}

.ticket > h2, .ticket > h3 {
    margin: 2px 0;
}

.spacer {
    padding: 1px;
    margin: 5px 0;
    background-color: var(--lime-green);
    border-radius: 5px;
}