<html>
  <head>
    <!-- include master-style.css for global styling -->
    <link href="../frontend/master-style.css" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <!-- TODO - make clock live using JS -->
      <div class="live-clock" id="live-clock">14:30:00</div>  

      <div class="login-container">
        <h1>Please Sign In</h1>
        <input type="password" id="pin-entry" placeholder="Enter PIN" readonly>

        <div class="login-keypad">
          <div class="keypad-row">
            <button class="login-keypad-key" onclick="addNumber('1')">1</button>
            <button class="login-keypad-key" onclick="addNumber('2')">2</button>
            <button class="login-keypad-key" onclick="addNumber('3')">3</button>
          </div>
          <div class="keypad-row">
            <button class="login-keypad-key" onclick="addNumber('4')">4</button>
            <button class="login-keypad-key" onclick="addNumber('5')">5</button>
            <button class="login-keypad-key" onclick="addNumber('6')">6</button>
          </div>
          <div class="keypad-row">
            <button class="login-keypad-key" onclick="addNumber('7')">7</button>
            <button class="login-keypad-key" onclick="addNumber('8')">8</button>
            <button class="login-keypad-key" onclick="addNumber('9')">9</button>
          </div>
          <div class="keypad-row">
            <button class="login-keypad-key" onclick="clearPinEntry()">X</button>
            <button class="login-keypad-key" onclick="addNumber('0')">0</button>
            <button class="login-keypad-key" onclick="login()">Y</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // TODO - create JS to handle keypad functions
  </script>
</html>