<html>
  <head>
    <!-- include master-style.css for global styling -->
    <link href="../frontend/master-style.css" rel="stylesheet"> 
    <!-- include admin.css for admin pages specific styling -->
    <link href="../frontend/admin.css" rel="stylesheet"> 
	<style>
		.line-container {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 10px;
		}
		.line-container > label {
			padding-right: 10px;
		}

		.line-container > select {
			padding: 5px;
		}
	</style>
  </head>
  <body>
	<button class="btn-back" onclick="showPage('Manager Settings')">⮨ Go Back</button>
    <div class="container">
		<div class="admin-container">
			<h1>Manage Printing</h1>
			<!-- // TODO - change the below -->
			<p>Use this page to manage your venue attributes, including venue name, address and phone number displayed on your receipts and elsewhere.</p>
		
			<div class="spacer"></div>

			<div class="category-list" id="printOptionsList">
				
				<div class="line-container printing-enabled">
					<label>Is printing enabled?</label>
					<input class="styled-checkbox" id="printing-enabled-checkbox" type="checkbox"></input>
				</div>

				<div class="line-container printing-type">
					<label>Printing type: </label>
					<select id="printing-type-dropdown" required>
						<option value="PDF">PDF</option>
						<option value="THERMAL">Thermal Printing</option>
					</select>
				</div>

				<div class="line-container receipt-printer">
					<label>Select printer for receipts:</label>
					<select id="receipt-printers" required>
					</select>
				</div>

				<div class="line-container kitchen-printer">
					<label>Select printer for kitchen orders:</label>
					<select id="kitchen-printers" required>
					</select>
				</div>

				
			</div>
		</div>
	</div>

  </body>

  <script>


  </script>

  <script src="../frontend/print_link.js"></script>
  <script src="../frontend/window_manager_link.js"></script>

  <script>
	document.addEventListener("DOMContentLoaded", async (event) => {

		printers = await getAllPrinters();
		let kitchen = getKitchenPrinter();
		let receipt = getReceiptPrinter();
		
		let is_printing_enabled = await isPrintingEnabled();

		let printing_type = await getPrintingType();

		// generate printer options
		printers.forEach(printer => {
			let option = document.createElement('option');
			option.value = printer.name;
			option.innerText = printer.displayName;

			// create an element copy as HTML is weird with select options
			let option2 = option.cloneNode(true);

			// set selected option to current selection
			if(kitchen == printer.name) option.selected = true;
			if(receipt == printer.name) option2.selected = true;

			document.getElementById('receipt-printers').appendChild(option);
			document.getElementById('kitchen-printers').appendChild(option2);

		});

		document.getElementById('printing-enabled-checkbox').checked = is_printing_enabled;

		let type_options = document.getElementById('printing-type-dropdown');

		let index;

		switch (printing_type) {
			case "PDF":
				index = 0;
				break;
			case "THERMAL":
				index = 1;
				break;
			default:
				console.error("Invalid type set for printing type: ", printing_type)
				return;
		}
		
		type_options.children[index].selected = true;

		
	});
	
  </script>


</html>
