<html>
  <head>
    <!-- include master-style.css for global styling -->
    <link href="../frontend/master-style.css" rel="stylesheet"> 
    <!-- include admin.css for button styling -->
    <link href="../frontend/admin.css" rel="stylesheet"> 
  </head>
  <body>
    <button class="btn-red btn-back" onclick="removeCurrentClerk();showPage('Clerk Login');">⮨ Sign Off</button>
    <div class="container" style="width: 85%">
      <h1 id="welcome">Welcome!</h1>
      <h2>What would you like to do today?</h2>
      <div class="spacer"></div>
      <div class="nav-buttons">
        <button class="btn-blue" onclick="quickSale()">Quick Sale</button>
        <button class="btn-lime" onclick="showPage('View Tables')">View Tables</button>
        
      </div>
    </div>
  </body>

  <script src="../frontend/window_manager_link.js"></script>
  <script src="../frontend/orders_link.js"></script>
  <script src="../frontend/clerks_link.js"></script>

  <script>

    let current_clerk;

    // set welcome message on page load
    document.addEventListener("DOMContentLoaded", async (event) => {
      current_clerk = await getCurrentClerk();
      document.getElementById("welcome").innerText = `Welcome, ${current_clerk.name}!`;
      generateManagerButtons();
    });

    function generateManagerButtons() {

      // do not render buttons if clerk is not a manager
      if(!current_clerk.is_manager) return;

      let buttons_container = document.getElementsByClassName("nav-buttons")[0];

      // manager settings button
      let manager_btn = document.createElement('button');
      manager_btn.classList.add("btn-coral");
      manager_btn.setAttribute('onclick', `showPage('Manager Settings')`) 
      manager_btn.innerText = "Manager Settings";
      buttons_container.appendChild(manager_btn);

      // reports button
      let reports_btn = document.createElement('button');
      reports_btn.classList.add("btn-teal");
      reports_btn.setAttribute('onclick', `showPage("Reports")`) 
      reports_btn.innerText = "Reports";
      buttons_container.appendChild(reports_btn);


    }

    async function quickSale() {

      // create new order
      let order_id = await createOrder(current_clerk.id, null, null);

      // open suborder against new order
      let suborder = await createSuborder(order_id, current_clerk.id)

      // set order as active order
      await setActiveOrder(order_id)

      // show sale page
      showPage("Sale")

    }

  </script>



</html>
