<html>
<head>
  <!-- include master-style.css for global styling -->
  <link href="../frontend/master-style.css" rel="stylesheet"> 
  <!-- include admin.css for button styling -->
  <link href="../frontend/admin.css" rel="stylesheet"> 
  <!-- include reports page specific styling -->
  <link href="../frontend/reports.css" rel="stylesheet"> 
</head>
<body>
  <button class="btn btn-back" onclick="showPage('Nav');">⮨ Back</button>
  <div class="container" style="width: 85%">
    <h1 id="welcome">Reports</h1>
    <p>Browse available reports and get valuable data and insights from your point-of-sale system!</p>
    <div class="spacer" style="margin: 15px 0;"></div>
    <div class="reports-list">
      <div class="report-entry">
        <h2>Today's Earnings</h2>
        <p>This report shows information about your earnings and sales today!</p>
      </div>
      <div class="report-entry">
        <h2>Last 7 days Earnings</h2>
        <p>This report shows information about your earnings and sales over the last 7 days!</p>
      </div>
      <div class="report-entry">
        <h2>Month to Date Earnings</h2>
        <p>This report shows information about your earnings and sales since the start of the month!</p>
      </div>
      <div class="report-entry">
        <h2>Open Tables</h2>
        <p>This report shows information about your currently open tables!</p>
      </div>

    </div>
  </div>
  <div class="modal-overlay">
    
    
  </div>
</body>
<script src="../frontend/orders_link.js"></script>
<script src="../frontend/tables_link.js"></script>
<script src="../frontend/window_manager_link.js"></script>
<script src="../frontend/clerks_link.js"></script>

<script async>
  
  
  
</script>

</html>