<html>
<head>
  <!-- include master-style.css for global styling -->
  <link href="../frontend/master-style.css" rel="stylesheet"> 
  <!-- include admin.css for button styling -->
  <link href="../frontend/admin.css" rel="stylesheet"> 
  <!-- include reports page specific styling -->
  <link href="../frontend/reports.css" rel="stylesheet"> 
</head>
<body>
  <button class="btn btn-back" onclick="showPage('Nav');">⮨ Back</button>
  <div class="container" style="width: 85%">
    <h1 id="welcome">Reports</h1>
    <p>Browse available reports and get valuable data and insights from your point-of-sale system!</p>
    <div class="spacer" style="margin: 15px 0;"></div>
    <div class="reports-list">
      <div class="report-entry" onclick="todaysRevenueReport()">
        <h2>Today's Earnings</h2>
        <p>This report shows information about your earnings and sales today!</p>
      </div>
      <div class="report-entry">
        <h2>Last 7 days Earnings</h2>
        <p>This report shows information about your earnings and sales over the last 7 days!</p>
      </div>
      <div class="report-entry">
        <h2>Month to Date Earnings</h2>
        <p>This report shows information about your earnings and sales since the start of the month!</p>
      </div>
      <div class="report-entry" onclick="openTablesReport()">
        <h2>Open Tables</h2>
        <p>This report shows information about your currently open tables!</p>
      </div>

    </div>
  </div>
  <div id="modal-overlay">
    <div class="modal report" id="open-tables">
      <h2 id="open-tables-header">You currently have 0 open tables.</h2>
      <div id="open-tables-list">
      </div>
      <button class="btn" onclick="hideModal('open-tables'); document.getElementById('open-tables-list').innerHTML = '';">Close Report</button>
    </div>

    <div class="modal report" id="todays-sales">
      <h2 id="todays-sales-header">Today's Sales: 00/00/0000 ~ Revenue: £0000.00</h2>
      <div class="spacer"></div>
      <p><span>Number of orders taken: </span><b><span id="todays-sales-ordercount">0</span></b></p>
      <p><span>Average order value: <b>£</span><span id="todays-sales-avgorder">00.00</span></b></p>
      <p><span>Minimum order value: <b>£</span><span id="todays-sales-minorder">00.00</span></b></p>
      <p><span>Maximum order value: <b>£</span><span id="todays-sales-maxorder">00.00</span></b></p>
      <div class="spacer"></div>
      <h3>Totals by Payment Method:</h3>
      <div id="todays-sales-payments">
      </div>
      <button class="btn" onclick="hideModal('todays-sales');">Close Report</button>
    </div>
  </div>
</body>
<script src="../frontend/orders_link.js"></script>
<script src="../frontend/tables_link.js"></script>
<script src="../frontend/window_manager_link.js"></script>
<script src="../frontend/clerks_link.js"></script>

<script async>
  
  async function openTablesReport() {

    let tables = await getAllTablesWithOrderData(true);
    let report_header = document.getElementById('open-tables-header');
    let tables_list = document.getElementById('open-tables-list');

    let open_tables = [];

    tables.forEach(table => {
      // disregard tables with no open orders
      if(table.orders == null) return;
      // extract tables with open orders, store in array
      open_tables.push(table);
    });

    // generate header (with correct gramatical - i.e. plural - use of the word table)
    report_header.innerText = `You currently have ${open_tables.length} open table${open_tables.length == 1 ? "" : "s"}.`

    // check if 1 or more table open
    if(open_tables.length > 0) {

      // create entry for each open table in scrollable list
      open_tables.forEach(async (table) => {
        let order = await getOrderByID(table.orders);
        let clerk = await getClerkByID(order.created_by);
        let created_at = new Date(order.created_at)
        
        let entry = document.createElement('div');
        entry.classList.add("table-entry");
        
        let header = document.createElement('h3');
        header.innerText = table.display_name;
        entry.appendChild(header);

        let subtext = document.createElement('p');
        subtext.innerText = `Opened ${created_at.toLocaleString().replace(",","")} by ${clerk.name}. Current total: £${(order.total / 100).toFixed(2)}`        
        entry.appendChild(subtext);

        // add to list
        tables_list.appendChild(entry);

      });

      console.debug(open_tables)
    }

    showModal("open-tables");

  }

  async function showModal(modal_element_id) {
    let overlay = document.getElementById('modal-overlay');
    let modal = document.getElementById(modal_element_id);

    overlay.style.display = "flex";
    modal.style.display = "block";
  }

  async function hideModal(modal_element_id) {
    let overlay = document.getElementById('modal-overlay');
    let modal = document.getElementById(modal_element_id);

    overlay.style.display = "none";
    modal.style.display = "none";
  }

  async function todaysRevenueReport() {
    let [ payment_methods, orders ] = await generatetodaysSalesData();
    let today = new Date();

    console.debug(payment_methods, orders)

    let header = document.getElementById('todays-sales-header');
    header.innerText = `Today's Sales: ${today.toLocaleDateString('en-GB')} ~ Revenue: £${(payment_methods.overall_total / 100).toFixed(2)}`

    // set order count
    document.getElementById('todays-sales-ordercount').innerText = orders.length;

    // set avg order value
    document.getElementById('todays-sales-avgorder').innerText = (payment_methods.average_total / 100).toFixed(2);

    // set min & max order value
    document.getElementById('todays-sales-minorder').innerText = ((payment_methods.min_order_value == null ? 0 : payment_methods.min_order_value) / 100).toFixed(2);
    document.getElementById('todays-sales-maxorder').innerText = ((payment_methods.max_order_value == null ? 0 : payment_methods.max_order_value) / 100).toFixed(2);

    let methods_list = document.getElementById('todays-sales-payments');

    payment_methods.forEach(method => {

      let p = document.createElement('p');
      p.innerText = capitaliseFirstLetter(`${method.method} - `);
      p.dataset.method_id = method.id;

      if(method.total == null || method.total == undefined) method.total = 0;

      let span = document.createElement('span');
      span.innerText = `£${(method.total / 100).toFixed(2)}`;
      span.style.fontWeight = "bold";
      p.appendChild(span);

      methods_list.appendChild(p);
      
    });
    

    showModal('todays-sales');
  }

  async function generatetodaysSalesData() {
    // order must be closed to be paid
    let orders = await getClosedOrders();
    let payment_methods = await getAllPaymentMethods();
    let todays_date = new Date().setHours(0,0,0,0);

    // set to 0 if undefined
    if(payment_methods.overall_total == undefined || payment_methods.overall_total == null) payment_methods.overall_total = 0;
    // set to opposite max integer values for comparing with less than & greater than
    if(payment_methods.min_order_value == undefined || payment_methods.min_order_value == null) payment_methods.min_order_value = Number.MAX_SAFE_INTEGER;
    if(payment_methods.max_order_value == undefined || payment_methods.max_order_value == null) payment_methods.max_order_value = Number.MIN_SAFE_INTEGER;

    let todays_orders = [];

    Object.keys(orders).forEach(index => {

      let order = orders[index];

      // exclude cancelled orders in calc
      if(order.is_cancelled) return;

      let order_date = new Date(order.created_at).setHours(0,0,0,0);

      if(order_date == todays_date) {
        todays_orders.push(order);

        payment_methods.forEach(method => {

          // set to 0 if undefined
          if(method.total == undefined || method.total == null) method.total = 0;

          if(method.id == order.payment_method) {
            // log payment against method
            method.total += order.total
          }
          
          // check & set min & max if applicable

          if(order.total < payment_methods.min_order_value) payment_methods.min_order_value = order.total;
          if(order.total > payment_methods.max_order_value) payment_methods.max_order_value = order.total;


        }); 

        payment_methods.overall_total += order.total;

      }

    });

    // set back to null if no orders change this
    if(payment_methods.min_order_value == Number.MAX_SAFE_INTEGER) { payment_methods.min_order_value = null; }
    if(payment_methods.max_order_value == Number.MIN_SAFE_INTEGER) { payment_methods.max_order_value = null; }

    payment_methods.average_total = (isNaN(payment_methods.overall_total / todays_orders.length) ? null : payment_methods.overall_total / todays_orders.length);

    return [payment_methods, todays_orders]
  }

  async function getMergedOrders() {
    let open = await getOpenOrders();
    let closed = await getClosedOrders();
    
    let all = [];

    Object.keys(open).forEach(index => {
      all.push(open[index]);
    });

    Object.keys(closed).forEach(index => {
      all.push(closed[index]);
    });

    return all;
    
  }


  function capitaliseFirstLetter(string) {
    return String(string).charAt(0).toUpperCase() + String(string).slice(1);
  }
  
</script>

</html>