<html>
<head>
  <!-- include master-style.css for global styling -->
  <link href="../frontend/master-style.css" rel="stylesheet"> 
  <!-- include admin.css for button styling -->
  <link href="../frontend/admin.css" rel="stylesheet"> 
  <!-- include reports page specific styling -->
  <link href="../frontend/reports.css" rel="stylesheet"> 
</head>
<body>
  <button class="btn btn-back" onclick="showPage('Nav');">⮨ Back</button>
  <div class="container" style="width: 85%">
    <h1 id="welcome">Reports</h1>
    <p>Browse available reports and get valuable data and insights from your point-of-sale system!</p>
    <div class="spacer" style="margin: 15px 0;"></div>
    <div class="reports-list">
      <div class="report-entry">
        <h2>Today's Earnings</h2>
        <p>This report shows information about your earnings and sales today!</p>
      </div>
      <div class="report-entry">
        <h2>Last 7 days Earnings</h2>
        <p>This report shows information about your earnings and sales over the last 7 days!</p>
      </div>
      <div class="report-entry">
        <h2>Month to Date Earnings</h2>
        <p>This report shows information about your earnings and sales since the start of the month!</p>
      </div>
      <div class="report-entry" onclick="openTablesReport()">
        <h2>Open Tables</h2>
        <p>This report shows information about your currently open tables!</p>
      </div>

    </div>
  </div>
  <div id="modal-overlay">
    <div class="modal report" id="open-tables">
      <h2 id="open-tables-header">You currently have 0 open tables.</h2>
    </div>
    
  </div>
</body>
<script src="../frontend/orders_link.js"></script>
<script src="../frontend/tables_link.js"></script>
<script src="../frontend/window_manager_link.js"></script>
<script src="../frontend/clerks_link.js"></script>

<script async>
  
  async function openTablesReport() {

    let tables = await getAllTablesWithOrderData(true);
    let report_header = document.getElementById('open-tables-header');

    let open_tables = [];

    tables.forEach(table => {
      // disregard tables with no open orders
      if(table.orders == null) return;
      // extract tables with open orders, store in array
      open_tables.push(table);
    });

    console.debug(open_tables)

    report_header.innerText = `You currently have ${open_tables.length} open table${open_tables.length == 1 ? "" : "s"}.`

    showModal("open-tables");

  }

  async function showModal(modal_element_id) {
    let overlay = document.getElementById('modal-overlay');
    let modal = document.getElementById(modal_element_id);

    overlay.style.display = "flex";
    modal.style.display = "block";
  }

  async function hideModal(modal_element_id) {
    let overlay = document.getElementById('modal-overlay');
    let modal = document.getElementById(modal_element_id);

    overlay.style.display = "none";
    modal.style.display = "none";
  }



  
</script>

</html>