<html>
    <head>
        <link rel="stylesheet" href="../frontend/master-style.css" />
        <link rel="stylesheet" href="../frontend/sale.css" />
    </head>
    <body>    
        <div class="sale-container">
            <div class="products-container" id="products-container">
                <h2>Loading products, please wait...</h2>
            </div>
            <div class="sidebar">
                <div class="ticket">
                    <!-- ticket/order header-->
                    
                    <h2 id="ticket-table-seats">Quick Sale</h2> <!-- table display_name & seats-->
                    <h3 id="ticket-order-id">Order # 0</h3> <!-- suborder_id -->
                    <h3 id="ticket-order-name"></h3> <!-- order_name -->
                    <div class="spacer"></div>


                    <!-- order table -->
                    <table id="order-table">
                        <tr></tr>
                        <!-- <tr>
                            <td>1x</td>
                            <td>Carling</td>
                            <td>£2.50</td>
                        </tr> -->
                    </table>
                    <h2 id="order-total" data-total=0>Total: £0.00</h2>

                </div>
                <div class="functions">
                    <div class="btn btn-red" onclick="voidSelectedItem()">
                        <h3>Void Item</h3>
                    </div>
                    <div class="btn" onclick="showSetQtyModal()">
                        <h3>Set Quantity</h3>
                    </div>
                    <div class="btn btn-red" onclick="alert('TODO')">
                        <h3>Cancel Order</h3>
                    </div>
                    <div class="btn btn-blue" onclick="showAddCommentsModal()">
                        <h3>Add Comments</h3>
                    </div>
                    <div class="btn btn-blue" onclick="alert('TODO')">
                        <h3>Print Bill</h3>
                    </div>
                    <div class="btn" onclick="alert('TODO')">
                        <h3>Pay Now</h3>
                    </div>
                    <div class="btn" onclick="saveToTable()">
                        <h3>Save to Table</h3>
                    </div>
                    <div class="btn" onclick="showSetOrderNameModal()">
                        <h3>Set Order Name</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-overlay">
            <div class="modal" id="set-qty-modal">
                <h1>Set Quantity</h1>
                <p>Enter the desired quantity for the next product for the order:</p>
                <input class="modal-input" type="number" id="qty-entry" placeholder="Enter Quantity" readonly>
                <div class="sale-keypad">
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key" onclick="addToQty('1')">1</button>
                        <button class="sale-keypad-key" onclick="addToQty('2')">2</button>
                        <button class="sale-keypad-key" onclick="addToQty('3')">3</button>
                    </div>
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key" onclick="addToQty('4')">4</button>
                        <button class="sale-keypad-key" onclick="addToQty('5')">5</button>
                        <button class="sale-keypad-key" onclick="addToQty('6')">6</button>
                    </div>
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key" onclick="addToQty('7')">7</button>
                        <button class="sale-keypad-key" onclick="addToQty('8')">8</button>
                        <button class="sale-keypad-key" onclick="addToQty('9')">9</button>
                    </div>
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key" onclick="clearQtyEntry()">Clear</button>
                        <button class="sale-keypad-key" onclick="addToQty('0')">0</button>
                        <button class="sale-keypad-key primary-btn" onclick="updateQty()">Confirm</button>
                        <!-- // TODO add cancel operation btn -->
                    </div>

                </div>
            </div>
            <div class="modal" id="set-order-name-modal">
                <h1>Set Order Name</h1>
                <p>Enter your desired order name below (leave blank for no name):</p>
                <input class="modal-input" type="text" id="order-name-entry" placeholder="e.g. Mr Smith, Delivery, Collection">
                <div class="sale-keypad">
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key primary-btn" onclick="confirmOrderName()">Confirm</button>
                        <button class="sale-keypad-key" onclick="hideSetOrderNameModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="modal" id="add-comments-modal">
                <h1>Add Comments</h1>
                <p>Enter comments below to add them to the selected order line:</p>
                <input class="modal-input" type="text" id="comments-entry" placeholder="e.g. Salad instead of Chips">
                <div class="sale-keypad">
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key primary-btn" onclick="addComments()">Confirm</button>
                        <button class="sale-keypad-key" onclick="hideAddCommentsModal()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="modal" id="disc-amount-modal">
                <h1>Apply Discount (£)</h1>
                <p>Enter your amount to discount below:</p>
                <input class="modal-input" id="disc-amount-entry" type="number" step="0.01" placeholder="£ 2.50">
                <div class="sale-keypad">
                    <div class="sale-keypad-row">
                        <button class="sale-keypad-key primary-btn" onclick="applyDiscAmount()">Confirm</button>
                        <button class="sale-keypad-key" onclick="hideDiscAmountModal()">Cancel</button>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </body>
    <script src="../frontend/products_link.js"></script>
    <script src="../frontend/orders_link.js"></script>
    <script src="../frontend/clerks_link.js"></script>
    <script src="../frontend/tables_link.js"></script>
    <script src="../frontend/categories_link.js"></script>
    <script src="../frontend/window_manager_link.js"></script>

    <script>

        // ensure order data is up to date on browser end
        getOpenOrders();

        qty_modifier_active = false;

        async function handleProductClick(product_id) {
            if(qty_modifier_active == true) {
                addProductToOrder(product_id, qty_modifier)
            } else {
                addProductToOrder(product_id, 1)
            }
        }

        async function selectOrderLine(elem) {
            let table_body = document.getElementById("order-table").children[0];

            for(let index = 0; index < table_body.children.length; index++) {
                table_body.children[index].dataset["orderLineSelected"] = false;
            }

            elem.dataset["orderLineSelected"] = true;
        }

        async function generateCategoryAndProductsEntry(category, products) {
            // check if a category has products associated with it before generating
            if(category.products != null || category.products != undefined) {
                
                let cat_container = document.createElement('div');
                cat_container.classList.add('category');

                let cat_header = document.createElement('h2');
                cat_header.innerText = category.name;
                cat_container.appendChild(cat_header);

                let prod_list = document.createElement('div');
                prod_list.classList.add('product-list');
            
                // TODO - got to be a better way to iterate through all categories & associate with products for this
                // time complexity on the below would be awful
                // TODO - could use await window.electronAPI.categories_getAll() and just lookup the indexes?
                for(index = 1; index <= Object.keys(products).length; index++) {

                    product = products[index];
                    
                    if(category.products.includes(index.toString())) {
                        
                        product_elem = document.createElement('div');
                        product_elem.classList.add('product');
                        
                        product_nametag = document.createElement('h3');
                        product_nametag.innerText = product.name;
                        product_elem.appendChild(product_nametag);

                        product_pricetag = document.createElement('p');
                        product_pricetag.dataset['price'] = product.price;
                        product_pricetag.innerText = '£' + (product.price / 100).toFixed(2).toString();
                        product_elem.appendChild(product_pricetag);

                        // TODO - add on click event for product elem (div) to add to ticket
                        product_elem.setAttribute('onclick', `handleProductClick(${product.id})`) 


                        prod_list.appendChild(product_elem);
                    }
                }

                cat_container.appendChild(prod_list);

                document.getElementById('products-container').appendChild(cat_container);       
            } else {
                console.info(`Not displaying category # ${category.id} - no products associated`);
            } 

        }

        async function addProductToOrder(product_id, qty) {
            
            let current_order = await getActiveOrder();
            let current_suborder = current_order.suborders[current_order.suborders.length-1];

            let line = await createSuborderLine(current_order.id, current_suborder.suborder_id, product_id, products[product_id].name, products[product_id].price, qty, null)

            addLineToOrderDisplayTable(line.line_id, product_id, products[product_id].name, qty, products[product_id].price, line.line_comments);

        }

        async function addMiscLineToOrder(id, name, qty, price) {
            let current_order = await getActiveOrder();
            let current_suborder = current_order.suborders[current_order.suborders.length-1];

            let line = await createSuborderLine(current_order.id, current_suborder.suborder_id, id, name, price, qty, null)

            addLineToOrderDisplayTable(line.line_id, id, name, qty, price, line.line_comments);
        }

        async function addLineToOrderDisplayTable(line_id, product_id, name, qty, price, comments) {
            let table_body = document.getElementById("order-table").children[0];

            let tr = document.createElement('tr');
            tr.dataset.product_id = product_id;
            tr.dataset.qty = qty;
            tr.dataset.price = price;
            tr.setAttribute('onclick', `selectOrderLine(this)`) 
            tr.dataset.line_id = line_id;
            
            let qty_col = document.createElement('td');
            qty_col.innerText = `${qty}x`;
            tr.appendChild(qty_col);

            let name_col = document.createElement('td');
            name_col.innerText = name;

            if(comments != null) {
                // build elements for comments
                let spacer = document.createElement('br');
                spacer.classList.add('order-line-comment');
                name_col.appendChild(spacer);
                
                let comment_elem = document.createElement('i');
                comment_elem.classList.add('order-line-comment');
                comment_elem.innerText = `↪ ${comments}`;
                name_col.appendChild(comment_elem);

                tr.dataset["hasComments"] = true;
                tr.dataset["comments"] = comments;
            }

            tr.appendChild(name_col);
        
            let price_col = document.createElement('td');
            price_col.innerText = `£${(price / 100).toFixed(2)}`    
            tr.appendChild(price_col);

            // add row to table
            table_body.appendChild(tr);

            // update total value displayed at bottom of order "ticket"
            addToOrderTotal(price);

            return tr;
        }

        // adds given price value to current order total
        async function addToOrderTotal(price) {

            let total_elem = document.getElementById("order-total");
            total_elem.dataset.total = Number(total_elem.dataset.total) + Number(price);
            
            total_elem.innerText = `Total: £${(total_elem.dataset.total / 100).toFixed(2)}`

        }

        // removes given price value from current order total
        async function removeFromOrderTotal(price) {
            let total_elem = document.getElementById("order-total");
            total_elem.dataset.total = Number(total_elem.dataset.total) - Number(price);
            
            total_elem.innerText = `Total: £${(total_elem.dataset.total / 100).toFixed(2)}`
        }

        async function refreshProductsContainer() {

            await getAllCategories();
            await getAllProducts();

            
            if(categories.length == 0) {
                // categories still loading, refresh in 50ms time
                console.log("Delayed loading due to no categories found.")
                setTimeout(() => {
                    refreshProductsContainer();
                }, 50);
                return;
            }

            // categories found, clear container
            document.getElementById("products-container").innerHTML = '';

            categories.forEach(cat => {

                if(cat.enabled) {
                    generateCategoryAndProductsEntry(cat, products);
                } else {
                    console.info(`Not displaying category # ${cat.id} - category is disabled`);
                }
                
            });

            let current_clerk = await getCurrentClerk();

            console.debug(current_clerk)
            if(current_clerk.is_manager) {
                console.info("Clerk is a manager - generating manager operation buttons")
                generateManagerButtons();
            }
        }

        async function generateManagerButtons() {

            let root = document.querySelector(":root");
            let root_style = getComputedStyle(root);

            let cat_container = document.createElement('div');
            cat_container.classList.add('category');

            let cat_header = document.createElement('h2');
            cat_header.innerText = "Manager Operations";
            cat_container.appendChild(cat_header);

            let prod_list = document.createElement('div');
            prod_list.classList.add('product-list');

            // TODO - discount buttons

            let misc_charge = document.createElement('div');
            misc_charge.classList.add('product');
            product_nametag = document.createElement('h3');
            product_nametag.innerText = "Misc Charge";
            misc_charge.appendChild(product_nametag);
            misc_charge.setAttribute('onclick', `openMiscChargeModal()`) 
            misc_charge.style.backgroundColor = root_style.getPropertyValue("--magenta")
            prod_list.appendChild(misc_charge);

            let disc_percent = document.createElement('div');
            disc_percent.classList.add('product');
            product_nametag = document.createElement('h3');
            product_nametag.innerText = "Discount (%)";
            disc_percent.appendChild(product_nametag);
            disc_percent.setAttribute('onclick', `openDiscPercentModal()`) 
            disc_percent.style.backgroundColor = root_style.getPropertyValue("--info-dark")
            prod_list.appendChild(disc_percent);

            let disc_amount = document.createElement('div');
            disc_amount.classList.add('product');
            product_nametag = document.createElement('h3');
            product_nametag.innerText = "Discount (£)";
            disc_amount.appendChild(product_nametag);
            disc_amount.setAttribute('onclick', `openDiscAmountModal()`) 
            disc_amount.style.backgroundColor = root_style.getPropertyValue("--success-dark")
            prod_list.appendChild(disc_amount);

            cat_container.appendChild(prod_list);
            document.getElementById('products-container').appendChild(cat_container);

        }

        async function openDiscAmountModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let modal = document.getElementById('disc-amount-modal');
            let input = document.getElementById('disc-amount-entry');

            overlay.style.display = "flex";
            modal.style.display = "block";
            input.value = '';
        }

        async function hideDiscAmountModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let modal = document.getElementById('disc-amount-modal');

            overlay.style.display = "none";
            modal.style.display = "none";
        }

        async function applyDiscAmount() {
            let input = document.getElementById('disc-amount-entry').value;

            // removes decimals w/o rounding (e.g. if user inputs 3.23957825 this truncates to -323 / -£3.23)
            let amount_to_discount = Math.trunc(input * -100);

            // create suborder line, update order table on frontend
            // and update order total on frontend (backend is automatic using SQL)

            // id of -1 reserved for discount amount lines

            addMiscLineToOrder(-1, "Discount (£)", 1, amount_to_discount);

        }

        async function openDiscPercentModal() {
            // TODO
        }

        async function openMiscChargeModal() {
            // TODO
        }

        async function showSetQtyModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let qty_modal = document.getElementById('set-qty-modal');

            overlay.style.display = "flex";
            qty_modal.style.display = "block";
        }

        async function hideSetQtyModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let qty_modal = document.getElementById('set-qty-modal');

            overlay.style.display = "none";
            qty_modal.style.display = "none";
        }

        async function addComments() {

            // hide modal on confirm btn press
            hideSetQtyModal();

            let table_body = document.getElementById("order-table").children[0];
            let comments = document.getElementById('comments-entry').value;

            for(let index = 0; index < table_body.children.length; index++) {
                if(table_body.children[index].dataset["orderLineSelected"] == "true") {
                    // item selected
                    let line_row = table_body.children[index];
                    let item = line_row.children[1];                    

                    // check if item already has comments
                    if(line_row.dataset["hasComments"] == "true") {
                        // line item has comments, overwrite them

                        // an item should only ever have 2 children - 1 <br> elem for visuals and 1 <i> for the comment content
                        // removing both this way is better than for looping for 2 elements

                        // note - need to use await as if not it removes the spacer being created below

                        // both indexes are zero because when we remove index 0, index 1 then becomes index 0 
                        
                        await item.children[0].remove();
                        await item.children[0].remove();
                    }

                    let line_id = line_row.dataset["line_id"];

                    let order = await getActiveOrder();

                    await setLineComments(order.id, null, line_id, comments)

                    // leave blank if no comments entered
                    if(comments == "") return;

                    // build elements
                    let spacer = document.createElement('br');
                    spacer.classList.add('order-line-comment');
                    item.appendChild(spacer);

                    let comment_elem = document.createElement('i');
                    comment_elem.classList.add('order-line-comment');
                    comment_elem.innerText = `↪ ${comments}`;
                    item.appendChild(comment_elem);

                    line_row.dataset["hasComments"] = true;
                    line_row.dataset["comments"] = comments;
                }
            }

            hideAddCommentsModal();
        }
        
        async function showAddCommentsModal() {

            let table_body = document.getElementById("order-table").children[0];
            let line_product_name = null;

            for(let index = 0; index < table_body.children.length; index++) {
                if(table_body.children[index].dataset["orderLineSelected"] == "true") {
                    line_product_name = table_body.children[index].children[1];
                }
            }
        
            // null not blank string - used for when no order line is selected, not when a product with a blank name is selected (weird edge case but still works)
            if(line_product_name == null) { 
                // TODO - show error message for no order line selected
                console.warn("Cannot open comments modal - no order line selected.")
                return;
            }

            if(line_product_name.parentElement.dataset["hasComments"] == "true") {
                // order line has comments, import them for editing
                console.info("Line item already has comments, retrieving them...")
                let comments = line_product_name.parentElement.dataset["comments"];
                document.getElementById('comments-entry').value = comments;
            }

            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let qty_modal = document.getElementById('add-comments-modal');

            overlay.style.display = "flex";
            qty_modal.style.display = "block";
        }

        async function hideAddCommentsModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let qty_modal = document.getElementById('add-comments-modal');

            overlay.style.display = "none";
            qty_modal.style.display = "none";

            // clear comments input when form closed to prevent persistent commetns
            document.getElementById('comments-entry').value = "";

        }

        async function addToQty(number) {
            document.getElementById('qty-entry').value += number;
        }

        async function clearQtyEntry() {
            document.getElementById('qty-entry').value = '';
        }

        async function updateQty() {

            let qty_entry = document.getElementById('qty-entry');
            let desired_qty = Number(qty_entry.value);

            // check qty input is greater than 0
            if(desired_qty > 0) {
                qty_modifier_active = true;
                qty_modifier = desired_qty;
            } else {
                // number is less than or equal to 0, cancel operation
                qty_modifier_active = false;
                qty_modifier = 1;
            }

            clearQtyEntry();            
            hideSetQtyModal();


        }

        async function voidSelectedItem() {
            let table_body = document.getElementById("order-table").children[0];

            for(let index = 0; index < table_body.children.length; index++) {
                if(table_body.children[index].dataset["orderLineSelected"] == "true") {

                    let item_row = table_body.children[index];
                    
                    let order = await getActiveOrder();
                    let line_id = table_body.children[index].dataset["line_id"];

                    let response = await voidSuborderLine(order.id, line_id)

                    if(response === true) {

                        // remove from order total
                        removeFromOrderTotal(item_row.dataset["price"])
                        
                        // delete from front end
                        table_body.deleteRow(index);
                    } else {
                        // unable to void item - see console log
                        // TODO - user facing modal err msg
                        console.warn(response);
                    }

                }
            }
        }

        async function showSetOrderNameModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let qty_modal = document.getElementById('set-order-name-modal');

            overlay.style.display = "flex";
            qty_modal.style.display = "block";
        }

        async function hideSetOrderNameModal() {
            let overlay = document.getElementsByClassName("modal-overlay")[0];
            let qty_modal = document.getElementById('set-order-name-modal');
            
            // clear input on cancel
            document.getElementById('comments-entry').value = '';

            overlay.style.display = "none";
            qty_modal.style.display = "none";
        }

        async function confirmOrderName() {

            // get active order
            let order = await getActiveOrder();

            // get name from user input
            let name = document.getElementById('order-name-entry').value;

            // update on backend
            let response = await setOrderName(order.id, name)

            if(response == true) {
                // success, update at top of ticket
                document.getElementById('ticket-order-name').innerText = (name !== null ? name : "");
            }

            // hide modal
            hideSetOrderNameModal();
        }


        document.addEventListener("DOMContentLoaded", async function() {
            await reloadCategories();
            setTimeout(() => {
                refreshProductsContainer();
            }, 15);

            let order = await getActiveOrder();

            if(order !== null) {
                // order exists, populate data if it exists

                // leave order name blank if null
                document.getElementById('ticket-order-name').innerText = (order.order_name !== null ? order.order_name : "");
                
                // set table name to quick sale if not assigned to a table
                let table = await getTableByID(order.table_id);
                document.getElementById('ticket-table-seats').innerText = (table !== null && table !== undefined ? `${table.display_name} ~ Seats ${table.seats}` : "Quick Sale")

                document.getElementById('ticket-order-id').innerText = `Order # ${order.suborders[order.suborders.length-1].suborder_id}`

                // load order lines
                await loadOrderLines(order);

            } else {

                // the existing order should be defined by the previous page (i.e. on click of quicksale button or on open of table on view tables)
                
                console.warn("Order is not found, redirecting user back to Nav")
                alert("An unexpected error occurred, redirecting you back to the navigation page...")
                showPage("Nav");
            }
        });

        async function saveToTable() {
            // check if table_id in active order is defined
            let order = await getActiveOrder();

            if(order == null) {
                // this should never be the case
                console.error("Error attempting to save order to table - no currently active order.")
                return;
            }
            
            let last_suborder = order.suborders[order.suborders.length -1];

            if(last_suborder == null) {
                // this should, again, never be the case
                console.error("Error attempting to save order to table - no suborders found.")
                return;
            }

            // store to table

            // TODO - backend table store function needs to send data to printer module

            alert("// TODO")
        }

        async function loadOrderLines(order) {
            order.suborders.forEach(suborder => {
                    
                    console.debug(suborder.suborder_id)

                    // check suborder has lines
                    if(suborder.lines == null) {
                        // lines is null, skip
                        return;
                    }
                    
                    if(suborder.lines.length < 1) {
                        // no lines in suborder, skip
                        return;
                    }

                    let last_line = null;

                    suborder.lines.forEach(line => {
                        last_line = addLineToOrderDisplayTable(line.line_id, line.product_id, line.product_name, line.product_qty, line.subtotal, line.line_comments)
                    });

                    last_line.then(function(line) {

                        if(last_line == null) {
                        return;
                    }
                        line.classList.add('suborder-end');
                    });


                });
        }

    </script>

</html>