<html>
    <head>
        <link rel="stylesheet" href="../frontend/master-style.css" />
        <link rel="stylesheet" href="../frontend/sale.css" />
    </head>
    <body>    
        <div class="sale-container">
            <div class="products-container" id="products-container">
            </div>
            <div class="sidebar">
                <div class="ticket">
                    <!-- ticket/order header-->
                    <h2>Order # 203-1</h2> <!-- order_id + '-' + suborder_id -->
                    <h3>Table 12 ~ Covers 2</h3> <!-- table display_name & seats-->
                    <h3>Mr Smith</h3> <!-- order_name -->
                    <div class="spacer"></div>


                    <!-- order table -->
                    <table class="order-table">
                        <tr>
                            <td>1x</td>
                            <td>Carling</td>
                            <td>£2.50</td>
                        </tr>
                    </table>
                    <h2 id="order-total">Total: £2.50</h2>

                </div>
                <div class="functions"></div>
            </div>
        </div>

    </body>
    <script src="../frontend/products_link.js"></script>
    <script src="../frontend/categories_link.js"></script>
    <script src="../frontend/window_manager_link.js"></script>

    <script>

        async function generateCategoryAndProductsEntry(category, products) {
            // check if a category has products associated with it before generating
            if(category.products != null || category.products != undefined) {
                
                let cat_container = document.createElement('div');
                cat_container.classList.add('category');

                let cat_header = document.createElement('h2');
                cat_header.innerText = category.name;
                cat_container.appendChild(cat_header);

                let prod_list = document.createElement('div');
                prod_list.classList.add('product-list');
            
                // TODO - got to be a better way to iterate through all categories & associate with products for this
                // time complexity on the below would be awful
                for(index = 1; index <= Object.keys(products).length; index++) {

                    product = products[index];
                    
                    if(category.products.includes(index.toString())) {
                        
                        product_elem = document.createElement('div');
                        product_elem.classList.add('product');
                        
                        product_nametag = document.createElement('h3');
                        product_nametag.innerText = product.name;
                        product_elem.appendChild(product_nametag);

                        product_pricetag = document.createElement('p');
                        product_pricetag.dataset['price'] = product.price;
                        product_pricetag.innerText = '£' + (product.price / 100).toFixed(2).toString();
                        product_elem.appendChild(product_pricetag);

                        // TODO - add on click event for product elem (div) to add to ticket
                        product_elem.setAttribute('onclick', `addProductToOrder('${product.id}')`) 


                        prod_list.appendChild(product_elem);
                    }
                }

                cat_container.appendChild(prod_list);

                document.getElementById('products-container').appendChild(cat_container);       
            } else {
                console.info(`Not displaying category # ${category.id} - no products associated`);
            } 

        }

        async function addProductToOrder(product_id) {
            // TODO
            alert(product_id)
        }

        async function refreshProductsContainer() {

            await getAllCategories();
            await getAllProducts();

            categories.forEach(cat => {

                if(cat.enabled) {
                    generateCategoryAndProductsEntry(cat, products);
                } else {
                    console.info(`Not displaying category # ${cat.id} - category is disabled`);
                }
                
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(() => {
                refreshProductsContainer();
            }, 5);
        });

    </script>

</html>