<html>
    <head>
        <link rel="stylesheet" href="../frontend/master-style.css">
    </head>
    <body>
        <h1>Developer Debug Screen</h1>

        <div class="clerk_data">
            <h2>Clerks</h2>
        </div>
    </body>
    <script src="../frontend/products_link.js"></script>
    <script src="../frontend/window_manager_link.js"></script>
    <script src="../frontend/clerks_link.js"></script>

    <script>
        
        document.addEventListener("DOMContentLoaded", function() {
            refreshData();
        });

        function refreshData() {

            

        }

    </script>

</html>