<html>
  <head>
    <!-- include master-style.css for global styling -->
    <link href="../frontend/master-style.css" rel="stylesheet"> 
    <!-- include admin.css for button styling -->
    <link href="../frontend/admin.css" rel="stylesheet"> 
    <!-- include tables page specific styling -->
    <link href="../frontend/tables.css" rel="stylesheet"> 
  </head>
  <body>
    <button class="btn btn-back" onclick="showPage('Nav');">⮨ Back</button>
    <div class="container" style="width: 85%">
      <h1 id="welcome">View Tables</h1>
      <div class="spacer"></div>
      <div class="two-col">

        <div class="tables-container" id="available-tables">
          <p><b>Available Tables</b></p>
          <!-- tables with no open orders -->
          <div class="spacer"></div>
          <div class="tables-entries"></div>
        </div>

        <div class="tables-container" id="occupied-tables">
          <p><b>Occupied Tables</b></p>
          <!-- tables with open orders -->
          <div class="spacer"></div>
          <div class="tables-entries"></div>
        </div>

      </div>
    </div>
    <div class="modal-overlay">
      <div class="modal" id="confirm-open-modal">
        <h2 id="confirm-title"></h2>
        <p id="confirm-text"></p>
        <!-- // TODO - style these buttons better -->
        <button onclick="confirmOpen()">Open</button>
        <button onclick="closeConfirmModal()">Cancel</button>
      </div>
    </div>
  </body>
  <script src="../frontend/orders_link.js"></script>
  <script src="../frontend/tables_link.js"></script>
  <script src="../frontend/window_manager_link.js"></script>
  <script src="../frontend/clerks_link.js"></script>

  <script async>

    let available_container = document.getElementById('available-tables').children[2];
    let occupied_container = document.getElementById('occupied-tables').children[2];

    let clicked_table = null;
    let current_clerk = null;

    async function loadTables() {

      let tables = await getAllTablesWithOrderData(true);
      
      for(let index = 0; index < tables.length; index++) {

        let table = tables[index];

        // hide disabled tables from view
        if(!table.enabled) continue;

        generateTableEntry(table);

        if(table.orders == null) {
          console.log(`Table ${table.id} has no (null) orders (i.e. available)`)
        } else {
          console.log(`Table ${table.id} has more than 1 order (i.e. occupied)`)
        }
      }
    }

    async function generateTableEntry(table) {

      let elem = document.createElement('div');
      elem.classList.add('table-entry');
      elem.dataset["table_id"] = table.id;
      elem.setAttribute('onclick', `openConfirmModal(${table.id})`) 
      
      let table_name = document.createElement('h3');
      table_name.classList.add('table-header')
      table_name.innerText = table.display_name;
      elem.appendChild(table_name);

      // check if table is occupied
      if(table.orders !== null) {

        let order_id = table.orders.split(",")[0];
        
        let clerk = await getClerkFromOrderID(order_id)
        let order = await getOrderByID(order_id)
        let running_total = order.total == null ? 0 : order.total / 100

        let subtitle = document.createElement('p');
        subtitle.classList.add('table-details')
        subtitle.innerText = `Opened by ${clerk.name}. Total: £${running_total.toFixed(2)}`;
        elem.appendChild(subtitle)

      }

      // choose where to put entry based on table availability
      let target_container = (table.orders == null ? available_container : occupied_container);

      target_container.appendChild(elem);

    }

    async function getClerkFromOrderID(order_id) {
      let orders = await getOpenOrders();
      console.log(`getClerkFromOrderID: order_id: ${order_id}, order: ${orders[order_id]}`)
      let clerk_id = orders[order_id].created_by;
      return await getClerkByID(clerk_id);
    }

    async function openConfirmModal(table_id) {
      clicked_table = await getTableByIDWithOrderData(table_id, true);
      let modal_title = document.getElementById('confirm-title');
      let modal_text = document.getElementById('confirm-text')

      modal_title.innerText = `Are you sure you want to open table '${clicked_table.display_name}'?`
      
      // show order data if table has open order
      if(clicked_table.orders !== null) {

        let order_id = clicked_table.orders[0];

        let clerk = await getClerkFromOrderID(order_id)
        let order = await getOrderByID(order_id)
        let running_total = order.total == null ? 0 : order.total / 100

        modal_text.innerText = `Opened by ${clerk.name}. Total: £${running_total.toFixed(2)}`;

      } else {
        modal_text.innerText = "This will open a new order against this table."
      }

      let modal_container = document.getElementsByClassName('modal-overlay')[0];
      let modal = document.getElementById('confirm-open-modal');

      modal_container.style.display = 'flex';
      modal.style.display = 'block';
            
    }

    async function closeConfirmModal() {
      clicked_table = null;
      let modal_container = document.getElementsByClassName('modal-overlay')[0];
      let modal = document.getElementById('confirm-open-modal');

      modal_container.style.display = 'none';
      modal.style.display = 'none';
    }

    async function confirmOpen() {

      // is the clerk opening a new table & order?
      if(clicked_table.orders == null) {
        // create & open new order
        
        let order_id = await createOrder(current_clerk.id, null, clicked_table.id);
        
        // open suborder against new order
        let suborder = await createSuborder(order_id, current_clerk.id)

        // set order as active
        await setActiveOrder(order_id);

      } else {
        // open new suborder against existing order
        let suborder = await createSuborder(clicked_table.orders, current_clerk.id)
        
        // open existing order
        await setActiveOrder(clicked_table.orders)

      }

      showPage("Sale");
    }

    document.addEventListener("DOMContentLoaded", async (event) => {
      current_clerk = await getCurrentClerk();
    });

    // start
    loadTables();


  </script>

</html>